@import './base.css';

#app {
  margin: 0;
  height: 100vh;
  overflow: auto;
  background-color: lightgray;
  color: rgb(49, 69, 113);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
